Repository flashbots/rbuilder, pull requests merged in 2024-08, with the labels that each got.

#132 Add a unit test for the simulation of orders
  crates/rbuilder/src/bin/debug-fake-order-sim.rs
  crates/rbuilder/src/live_builder/simulation/mod.rs
Labels: C-test, A-simulation

#133 Add provider reopen telemetry
  crates/rbuilder/src/telemetry/metrics.rs
  crates/rbuilder/src/utils/provider_factory_reopen.rs
Labels: A-observability

#135 Stream unsealed blocks
  crates/rbuilder/src/bin/dummy-builder.rs
  crates/rbuilder/src/building/builders/block_building_helper.rs
  crates/rbuilder/src/building/builders/mod.rs
  crates/rbuilder/src/building/builders/ordering_builder.rs
  crates/rbuilder/src/building/built_block_trace.rs
  crates/rbuilder/src/building/tracers.rs
  crates/rbuilder/src/live_builder/base_config.rs
  crates/rbuilder/src/live_builder/block_output/bidding/mod.rs
  crates/rbuilder/src/live_builder/block_output/block_finisher.rs
  crates/rbuilder/src/live_builder/block_output/block_finisher_factory.rs
  crates/rbuilder/src/live_builder/block_output/mod.rs
  crates/rbuilder/src/live_builder/block_output/relay_submit.rs
  crates/rbuilder/src/live_builder/building/mod.rs
  crates/rbuilder/src/live_builder/cli.rs
  crates/rbuilder/src/live_builder/config.rs
  crates/rbuilder/src/live_builder/mod.rs
Labels: A-builder

#126 fix: fetch cached_reads & bundlestate after withdrawl requests contra…
  crates/rbuilder/src/building/mod.rs
Labels: bug, A-builder

#142 replace ethers usage with alloy
  Cargo.lock
  Cargo.toml
  crates/rbuilder/Cargo.toml
  crates/rbuilder/src/bin/debug-order-input.rs
  crates/rbuilder/src/live_builder/order_input/clean_orderpool.rs
  crates/rbuilder/src/live_builder/order_input/txpool_fetcher.rs
  crates/rbuilder/src/primitives/serialize.rs
Labels: dependencies, C-debt

#143 Make e2e test more deterministic
  crates/rbuilder/src/integration/playground.rs
  crates/rbuilder/src/integration/simple.rs
Labels: A-e2e

#154 Bug fix for failed cancelled sinumations.
  crates/rbuilder/src/live_builder/simulation/simulation_job.rs
Labels: bug, A-simulation, A-builder

#150 disable dependabot
  .github/dependabot.yaml
Labels: dependencies

#134 Add benchmark for txfetcher
  .github/workflows/bench.yaml
  Cargo.lock
  crates/rbuilder/Cargo.toml
  crates/rbuilder/benches/bench_main.rs
  crates/rbuilder/benches/benchmarks/mod.rs
  crates/rbuilder/benches/benchmarks/txpool_fetcher.rs
  crates/rbuilder/src/live_builder/order_input/mod.rs
  crates/rbuilder/src/live_builder/order_input/txpool_fetcher.rs
Labels: C-benchmark, A-pool
